@import 'functions';
@import 'colors';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'variables';

.sidebar__container {
  position: fixed;
  top: rem(64px);
  bottom: 0;
  left: 0;
  z-index: $z-index-sidebar;
  overflow: hidden auto;
  background: $white;
  border-radius: 0.375rem;
  box-shadow: $section-box-shadow;

  @include media-breakpoint-up(sm) {
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
  }

  @include media-breakpoint-up(lg) {
    width: 256px;
  }

  .sidebar__logo-container {
    margin: rem(-12px) rem(16px) rem(-4px);

    @include media-breakpoint-up(lg) {
      margin-top: rem(8px);
    }
    @include media-breakpoint-down(lg) {
      margin-top: 0;
    }

    @include media-breakpoint-only(xs) {
      /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
      ::ng-deep {
        .logo__first-word-letter {
          font-size: 2rem;
        }

        .logo__second-word-letter {
          font-size: 2.4rem;
        }

        margin-top: rem(4px);
      }
    }

    @include media-breakpoint-only(sm) {
      /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
      ::ng-deep {
        .logo__first-word-letter {
          font-size: 1.6rem;
        }

        .logo__second-word-letter {
          font-size: 2rem;
        }
      }
    }
  }

  // stylelint-disable-next-line
  .nav-link.active {
    color: $white;
    background: $primary;

    .app__icon {
      color: $white;
    }
  }

  // stylelint-disable
  .fa-calendar-plus,
  .fa-circle-plus {
    font-size: 1.2rem;
  }
  // stylelint-enable

  // stylelint-disable-next-line
  .nav-link {
    transition:
      color 0.05s ease-in-out,
      background-color 0.05s ease-in-out,
      border-color 0.05s ease-in-out;

    &:hover {
      color: $white;
      cursor: pointer;
      background: lighten($primary, 5);

      a,
      .app__icon {
        color: $white;
      }
    }
  }

  a {
    &:hover {
      background: none;
    }
  }

  hr {
    box-shadow: 0 rem(2px) rem(3px) $primary;
  }

  button {
    background: transparent;
    border: none;
  }
}

.sidebar__empty-space {
  position: fixed;
  top: rem(64px);
  right: 0;
  z-index: $z-index-sidebar;
  height: 100%;
}
