@mixin buttons() {
  sl-button {
    &.button--primary::part(base),
    &.button--icon::part(base),
    &.dropdown-button--primary::part(base) {
      display: flex;
      align-items: center;
      padding-block: var(--spacing-r-sm);
      padding-inline: var(--spacing-r-xl);
      font-family: var(--inter-font), serif;
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-xregular);
      line-height: var(--line-height-lg);
      color: var(--buttons-color);
      letter-spacing: -0.0088rem;
      background: var(--buttons-background);
      border: 0;
      border-radius: var(--border-radius-max);
      transition: background 0.3s ease;

      &:hover {
        background: var(--buttons-background-hover);
      }
    }

    &.dropdown-button--primary::part(label) {
      padding: 0;
      margin-right: var(--spacing-r-sm);
      font-weight: var(--font-weight-bold);
    }

    &.button--icon {
      &::part(base) {
        padding-inline: 0;
        font-size: var(--font-size-lg);
        color: var(--icons-color);
        background: transparent;

        &:hover {
          color: var(--icons-color-hover);
          background: transparent;
          transition: color 0.3s ease;
        }
      }

      &::part(label) {
        padding: 0;
      }
    }
  }
}
