@use 'custom/colors';

@mixin buttons() {
  sl-button.button--primary::part(base),
  sl-button.button--icon::part(base) {
    display: flex;
    align-items: center;
    padding-block: 0.375rem;
    padding-inline: 0.75rem;
    font-family: var(--inter-font), serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    color: color-mix(in srgb, var(--pill-accent) 60%, white 70%);
    letter-spacing: -0.0088rem;
    background: color-mix(in srgb, var(--pill-accent) 10%, white 2%);
    border: 0;
    border-radius: 2.75rem;
    transition: background 0.3s ease;

    --pill-accent: var(--hot-red);

    &:hover {
      background: color-mix(in srgb, var(--pill-accent) 20%, white 10%);
    }
  }

  sl-button.button--icon::part(base) {
    font-size: 1.5rem;
    color: var(--quaternary-contrast);
    background: transparent;

    &:hover {
      color: var(--full-contrast);
      background: transparent;
      transition: color 0.3s ease;
    }
  }
}
