@mixin buttons() {
  sl-button.button--primary::part(base) {
    position: relative;
    width: max-content;
    padding: 0.75rem 1.5rem;
    font-family: var(--inter-font), serif;
    font-weight: 600;
    color: transparent;
    appearance: none;
    cursor: pointer;
    background: transparent;
    background: linear-gradient(
      var(--angle),
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );
    border: 0;
    border: none;
    border-radius: 0.25rem;
    outline: none;

    // border gradient / background
    --angle: 90deg;

    // Remove excess padding and border in Firefox 4+
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    &:disabled {
      color: var(--quinary-contrast);
      cursor: not-allowed;

      // Gradient stroke
      background: var(--quinary-contrast);

      &::before {
        background: var(--page-bg-radial-gradient);
        background-color: var(--page-background);
        opacity: 1;
      }
    }

    // text & radial gradient
    &::before {
      position: absolute;
      inset: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--primary-contrast);
      content: attr(text);
      background: var(--page-bg-radial-gradient);
      border-radius: 0.2rem;
      transition:
        opacity 0.3s ease,
        background 0.3s ease;
    }

    // solid color negative space - CSS transition supported
    &::after {
      position: absolute;
      inset: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--primary-contrast);
      content: attr(text);
      background: var(--page-background);
      border-radius: 0.2rem;
      transition:
        opacity 0.3s ease,
        background 0.3s ease;
    }

    &:hover {
      animation: spin-gradient 4s linear infinite forwards;

      &::before {
        background: var(--soft-pink-radial-gradient);
        background-color: var(--page-background);
        opacity: 0.9;
      }

      &::after {
        opacity: 0;
      }
    }

    &:active {
      &::before {
        opacity: 0.8;
      }
    }
  }
}
