@mixin inputs() {
  sl-input.input--primary {
    --sl-input-background-color: var(--inputs-background-color);
    --sl-input-background-color-hover: var(--inputs-background-color-hover);
    --sl-input-background-color-focus: var(--inputs-background-color-focus);
    --sl-input-border-color: var(--inputs-border-color);
    --sl-input-border-color-hover: var(--inputs-border-color-hover);
    --sl-input-border-color-focus: var(--inputs-border-color-focus);
    --sl-input-font-family: var(--inter-font);
    --sl-input-font-size-medium: var(--font-size-md);
    --sl-input-color: var(--inputs-color);
    --sl-input-color-hover: var(--inputs-color-hover);
    --sl-input-color-focus: var(--inputs-color-focus);
    --sl-input-placeholder-color: var(--inputs-placeholder-color);
    --sl-input-focus-ring-color: var(--inputs-focus-ring-color);
    --sl-input-focus-ring-offset: 0;

    &::part(base) {
      transition:
        color 0.3s ease,
        background-color 0.3s ease,
        border-color 0.3s ease;
    }

    sl-icon {
      transition: color 0.3s ease;
    }

    &:hover {
      sl-icon {
        color: var(--icons-color-hover);
      }
    }
  }
}
