$loading-icon-suffix-width: 30px;

@mixin inputs() {
  sl-input.input--primary {
    --sl-input-background-color: var(--inputs-background-color);
    --sl-input-background-color-hover: var(--inputs-background-color-hover);
    --sl-input-background-color-focus: var(--inputs-background-color-focus);
    --sl-input-border-color: var(--inputs-border-color);
    --sl-input-border-color-hover: var(--inputs-border-color-hover);
    --sl-input-border-color-focus: var(--inputs-border-color-focus);
    --sl-input-font-family: var(--inter-font);
    --sl-input-font-size-medium: var(--font-size-md);
    --sl-input-color: var(--inputs-color);
    --sl-input-color-hover: var(--inputs-color-hover);
    --sl-input-color-focus: var(--inputs-color-focus);
    --sl-input-placeholder-color: var(--inputs-placeholder-color);
    --sl-input-focus-ring-color: var(--inputs-focus-ring-color);
    --sl-input-focus-ring-offset: 0;
    --sl-input-required-content: '';
    --sl-input-required-content-offset: 0;

    &::part(base) {
      transition:
        color 0.3s ease,
        background-color 0.3s ease,
        border-color 0.3s ease;
    }

    &::part(input)::placeholder {
      font-size: var(--font-size-sm);
    }

    &::part(form-control) {
      text-align: start;
    }

    &::part(form-control-label) {
      margin-block-end: var(--spacing-r-sm);
    }

    &::part(form-control-help-text) {
      margin-top: var(--spacing-r-sm);
      font-size: var(--font-size-xs);
      color: var(--inputs-placeholder-color);
    }

    .loading__image {
      width: $loading-icon-suffix-width;
      height: auto;
      margin-inline-end: var(--spacing-r-sm);
    }

    sl-icon {
      transition: color 0.3s ease;
    }
  }

  sl-input:not([disabled]):hover sl-icon {
    color: var(--icons-color-hover);
  }

  sl-input.ng-invalid.ng-touched:not(form) {
    &::part(form-control-input) {
      --sl-input-border-color: var(--status-color-error);
      --sl-input-border-color-hover: var(--status-color-error);
      --sl-input-border-color-focus: var(--status-color-error);
      --sl-input-placeholder-color: var(--status-color-error);
    }

    &::part(form-control-help-text) {
      color: var(--status-color-error);
    }
  }

  sl-input.ng-valid.ng-touched:not(form) {
    &::part(form-control-input) {
      --sl-input-border-color: var(--status-color-success);
      --sl-input-border-color-hover: var(--status-color-success);
      --sl-input-border-color-focus: var(--status-color-success);
    }
  }
}
