@use '../base/colors';

@mixin menu() {
  sl-menu {
    &.menu--primary {
      margin-top: var(--spacing-r-md);
      background: var(--octonary-contrast);
      border: 1px solid var(--senary-contrast);
      border-radius: var(--border-radius-sm);
      box-shadow: none;

      a {
        color: var(--full-contrast);
      }
    }
  }
}
