@use '../base/colors';

@mixin menu-items() {
  sl-menu-item {
    &.menu-item--primary {
      a {
        font-size: var(--font-size-sm);
      }

      &::part(base) {
        padding: var(--spacing-r-sm) 0;

        &:hover {
          color: color-mix(in srgb, var(--hot-red) 60%, white 70%);
          background: color-mix(in srgb, var(--hot-red) 10%, white 2%);
          transition: background 0.3s ease;

          &:hover {
            background: color-mix(in srgb, var(--hot-red) 20%, white 10%);
          }
        }
      }
    }
  }
}
