<div class="container">
  <mat-card class="signup--form__box--blue">
    <div class="signup--form-container">
      <p class="signup--form__header-title">Give it a try!</p>
      <form class="example-container" [formGroup]="signUpForm">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input [formControl]="firstName" matInput placeholder="Jason" />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error *ngIf="email.invalid">{{ getErrorMessage('firstName') }}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input [formControl]="lastName" matInput placeholder="Bourne" />
            <mat-icon matSuffix>favorite</mat-icon>
            <mat-error *ngIf="email.invalid">{{ getErrorMessage('lastName') }}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage('email') }}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter a password</mat-label>
            <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'" />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-hint [class] = "signUpForm.controls.password.invalid && signUpForm.controls.password.touched? 'text-red' : ''"
              >Must be minimum eight characters, at least one uppercase letter, one lowercase letter
              and one number</mat-hint
            >
          </mat-form-field>
        </p>
        <p>
          <button
            class="signup--form__submit-button"
            mat-raised-button
            color="primary"
            (click)="sendForm()"
          >
            {{ 'Sign Up' | uppercase }}
          </button>
        </p>
      </form>
    </div>
  </mat-card>
</div>
