@use 'base/media-queries' as mq;

$pokedex-red: #cd112f;
$pokedex-black: #000;
$pokedex-dark-gray: #222;
$pokedex-light-gray: #dedede;
$pokedex-green: #52af5f;
$pokedex-blue: #08cbf8;
$pokedex-white: #fff;
$pokedex-text-dark: #032d28;

:host {
  .pokedex__container {
    position: relative;

    &.closed {
      .pokedex__flap-container {
        transform: rotateX(180deg) translate(0, -14px);
      }

      .pokedex__joystick-container {
        left: -100px;
      }

      .pokedex__pad-container::before {
        background: $pokedex-black;
      }
    }

    .pokedex__separator,
    .pokedex__bottom-part-container {
      background: $pokedex-red;
      border: var(--spacing-xs) solid $pokedex-black;
    }

    .pokedex__flap-container {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotateX(360deg);
      transform-origin: 0 100%;
      transition: transform 1s;
      transform-style: preserve-3d;

      figure {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        backface-visibility: hidden;
      }

      .pokedex__flap-front,
      .pokedex__flap-back {
        background: $pokedex-red;
        border: var(--spacing-xs) solid $pokedex-black;
      }

      .pokedex__flap-front {
        border-bottom-right-radius: var(--spacing-3xl);
        border-bottom-left-radius: var(--spacing-3xl);
        transform: rotateX(180deg);
      }

      .pokedex__flap-back {
        border-top-left-radius: 10px;
        border-top-right-radius: var(--spacing-3xl);

        &::before {
          position: absolute;
          width: 50px;
          height: 100px;
          margin-top: 23px;
          margin-left: -52px;
          content: ' ';
          background: $pokedex-red;
          border: var(--spacing-sx) solid $pokedex-black;
          border-right-width: 0;
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;
        }
      }
    }

    .pokedex__top-part-container {
      position: relative;
      z-index: 11;
      width: 230px;
      height: 150px;
      margin-left: 70px;
      cursor: pointer;
      perspective: 800px;
    }

    .pokedex__separator {
      position: relative;
      z-index: 10;
      width: 230px;
      height: 10px;
      margin-left: 70px;
      border-bottom-width: 0;
    }

    .pokedex__bottom-part-container {
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: row;
      width: 300px;
      height: 150px;
      border-top-left-radius: 75px;
      border-bottom-right-radius: var(--spacing-3xl);
      border-bottom-left-radius: 75px;
    }
  }
}
