@import 'functions';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'variables';

.footer__wrapper {
  height: rem(64px);
  animation: fade-in 2s;

  footer {
    z-index: $z-index-header-footer;
    background-color: $white;
    border-radius: 0.375rem;
    box-shadow: $section-box-shadow;
  }

  .footer__content {
    @include media-breakpoint-up(lg) {
      width: calc(100% - 256px);
    }
  }

  img {
    width: rem(30px);
  }

  // stylelint-disable-next-line
  .nav-link {
    margin: 0 rem(12px);
  }
}
