<div class="footer__wrapper row justify-content-end">
  <div class="col-12 col-sm-8 col-lg-9 col-xl-10 px-2 footer__content">
    <footer class="px-3 mt-3 mb-2">
      <div class="row justify-content-between py-3">
        <div class="col-auto align-items-center d-flex" id="footer__copyright-container">
          <p>© {{ currentYear }} Angular Example App</p>
        </div>
        <div class="col-auto align-items-center d-flex">
          <img
            alt="footer angular logo"
            class="ng-star-inserted"
            src="/assets/icons/icon-96x96.png" />
        </div>
        <div class="col-auto mt-1 mt-sm-0 align-items-center d-flex">
          <div class="row">
            <div class="col-12 p-0">
              <ul class="nav">
                <li class="nav-item">
                  <a
                    class="nav-link py-1 px-0"
                    href="https://github.com/Ismaestro/angular-example-app"
                    i18n
                    id="how-it-works"
                    target="_blank"
                    >How it works</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
