@import 'functions';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'variables';

:host {
  // stylelint-disable-next-line
  .dropdown-toggle {
    color: $primary;
    background: transparent;
    border: none;
    box-shadow: none;

    &:focus-visible {
      outline: 2px solid $outline;
    }
  }
}
