@import 'functions';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'colors';
@import 'variables';

$avatar-size: 90px;

.main__avatar-circle {
  width: $avatar-size;
  height: $avatar-size;
  border: 5px solid $white;
}

.my-account__user-name {
  letter-spacing: 2px;
}

// stylelint-disable-next-line
.my-account__email-verified.text-warning {
  color: $black-dark-100;
}
