@import 'functions';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'colors';
@import 'variables';

$avatar-size: 90px;

.main-avatar-circle {
  border: 5px solid $white;
  width: $avatar-size;
  height: $avatar-size;
}

.my-account-user-name {
  letter-spacing: 2px;
}

.my-account-email-verified.text-warning {
  color: $black-dark-100;
}
