<div fxLayout="row">
  <div fxFlex="10" fxFlex.gt-sm="20"></div>
  <div fxFlex="90" fxFlex.gt-sm="80">
    <h1 class="header__title">{{'topHeroes' | translate}}</h1>
    <mat-card id="loading-card" class="hero-card" *ngIf="!heroes">
      <mat-card-header>
        <div mat-card-avatar class="hero-header__image"></div>
        <mat-card-title>.</mat-card-title>
        <mat-card-subtitle>.</mat-card-subtitle>
        <div class="flex-spacer"></div>
        <div class="hero-actions">
          <mat-icon class="icon__like--grey">favorite</mat-icon>
        </div>
      </mat-card-header>
      <mat-progress-bar [color]="'warn'" [mode]="'indeterminate'"></mat-progress-bar>
      <app-spinner></app-spinner>
      <img mat-card-image src="assets/images/loading-hero.jpg">
    </mat-card>
    <div id="heroes-list" *ngIf="heroes">
      <ng-container *ngFor="let hero of heroes">
        <app-hero-card [hero]="hero"></app-hero-card>
      </ng-container>
    </div>
  </div>
  <div fxFlex="10" fxFlex.gt-sm="20"></div>
</div>
