<div class="register__container d-flex align-items-center justify-content-center">
  <div class="container my-2">
    <div class="row">
      <div class="col-12">
        <main>
          <div class="card text-center register-page__card mx-auto py-3 position-relative">
            <div class="card-body">
              <h1 class="mb-5" i18n>¡Register, and create your first hero!</h1>
              <form
                class="row justify-content-md-center"
                [formGroup]="registerForm"
                (ngSubmit)="sendForm()"
              >
                <div class="col-12 col-md-10">
                  <div class="form-floating mb-3">
                    <label class="text-start" for="floating-first-name">
                      <i class="icon fa-solid fa-circle-user me-1"></i>
                      <ng-container i18n>First name</ng-container>
                    </label>
                    <input
                      class="form-control"
                      id="floating-first-name"
                      maxlength="150"
                      minlength="2"
                      placeholder="name@example.com"
                      i18n-placeholder
                      required
                      appTrim
                      type="text"
                      [formControl]="firstname"
                    />
                  </div>
                </div>
                <div class="col-12 col-md-10">
                  <div class="form-floating mb-3">
                    <label i18n class="text-start" for="floating-email">
                      <i class="icon fa-solid fa-at"></i>
                      Email
                    </label>
                    <input
                      class="form-control"
                      id="floating-email"
                      appLowercase
                      maxlength="150"
                      placeholder="name@example.com"
                      i18n-placeholder
                      required
                      appTrim
                      type="email"
                      [formControl]="email"
                    />
                  </div>
                </div>
                <div class="col-12 col-md-10 mb-3">
                  <div class="password-container">
                    <div class="form-floating">
                      <label class="text-start" for="floating-password">
                        <i class="icon fa-solid fa-lock me-1"></i>
                        <ng-container i18n>Password</ng-container>
                      </label>
                      <input
                        class="form-control"
                        id="floating-password"
                        placeholder="Password"
                        i18n-placeholder
                        required
                        [class.is-invalid]="password.errors && password.errors['passwordStrength']"
                        [formControl]="password"
                        [minLength]="6"
                        [type]="showPassword ? 'text' : 'password'"
                        (keyup)="updatePassword()"
                      />
                    </div>
                    <div class="password-eye-icon-container">
                      <button
                        i18n
                        type="button"
                        class="icon fa-solid fa-eye"
                        aria-label="Toggle password visibility"
                        i18n-aria-label
                        [class.active]="showPassword"
                        (click)="togglePasswordType()"
                        (keyup)="togglePasswordType()"
                      >
                        eye
                      </button>
                    </div>
                  </div>
                  <div class="password-container">
                    <div class="form-floating">
                      <label class="text-start" for="repeat-password">
                        <i class="icon fa-solid fa-lock me-1"></i>
                        <ng-container i18n>Repeat Password</ng-container>
                      </label>
                      <input
                        class="form-control"
                        id="repeat-password"
                        placeholder="Repeat password"
                        i18n-placeholder
                        required
                        [formControl]="repeatPassword"
                        [minLength]="6"
                        [type]="'password'"
                        (keyup)="updatePassword()"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-10">
                  <div class="form-floating mb-3">
                    <label class="text-start" for="repeat-password">
                      <ng-container i18n>What's your favourite pokemon?</ng-container>
                    </label>
                    <input
                      class="form-control"
                      id="favourite-pokemon"
                      placeholder="This will validate against PokeAPI."
                      i18n-placeholder
                      required
                      [formControl]="favouritePokemon"
                      [minLength]="2"
                      [type]="'text'"
                    />
                  </div>
                </div>
                <div class="col-12 col-md-10">
                  <div class="form-check mb-4">
                    <input
                      class="form-check-input"
                      id="terms-input"
                      required
                      type="checkbox"
                      [formControl]="terms"
                    />
                    <label
                      class="register-terms__label form-check-label text-start"
                      for="terms-input"
                    >
                      <ng-container i18n
                        >I've read and accept the terms and conditions and the privacy
                        policy</ng-container
                      >
                    </label>
                    <div class="ms-n3"></div>
                  </div>
                </div>
                @if (
                  registerForm.errors?.['passwordsMatch'] &&
                  (registerForm.touched || registerForm.dirty)
                ) {
                  <div i18n class="cross-validation-error-message alert alert-danger">
                    Passwords must be the same.
                  </div>
                }
                <div class="col-12 mb-4">
                  <button
                    class="btn btn-primary"
                    type="submit"
                    [class.is-loading-primary]="isButtonRegisterLoading"
                    [disabled]="isButtonRegisterLoading"
                  >
                    @if (isButtonRegisterLoading) {
                      <span
                        aria-hidden="true"
                        class="spinner-border text-white spinner-border-sm me-1"
                        role="status"
                      ></span>
                    }
                    <ng-container i18n>Register</ng-container>
                  </button>
                </div>
                <div class="col-12">
                  <p>
                    <span i18n>already have an account?</span>
                    <a class="register__login-link ms-1" [routerLink]="authUrls.logIn">
                      <ng-container i18n>log in</ng-container>
                      <i class="ms-1 icon fa-solid fa-right-long"></i>
                    </a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
