<main>
  <h1 class="first-heading__title" i18n>¡Register and complete your Pokédex!</h1>
  <form class="form__container register__form" [formGroup]="registerForm" (ngSubmit)="sendForm()">
    <img
      class="register-form__image"
      alt="pokemon haunter"
      i18n-alt
      ngSrc="angularexampleapp/assets/images/haunter.png"
      width="200"
      height="200"
    />
    <div class="form-control__container">
      <sl-input
        class="input--primary"
        placeholder="Enter your name"
        label="Name"
        size="medium"
        i18n-label
        i18n-placeholder
        appSlInputIconFocus
        appTrim
        required
        ngDefaultControl
        [attr.help-text]="translations.fieldRequired"
        [formControl]="formControls.name"
      >
        <sl-icon name="person" slot="prefix" />
      </sl-input>
    </div>
    <div class="form-control__container">
      <sl-input
        class="input--primary"
        placeholder="Enter your email"
        label="Email"
        size="medium"
        i18n-label
        i18n-placeholder
        appSlInputIconFocus
        appLowercase
        appTrim
        required
        ngDefaultControl
        [attr.help-text]="translations.emailHelpText"
        [formControl]="formControls.email"
      >
        <sl-icon name="person-circle" slot="prefix" />
      </sl-input>
    </div>
    <div class="form-control__container">
      <sl-input
        type="password"
        class="input--primary"
        placeholder="Enter your password"
        password-toggle
        label="Password"
        size="medium"
        i18n-label
        i18n-placeholder
        appSlInputIconFocus
        required
        ngDefaultControl
        [attr.help-text]="translations.passwordHelpText"
        [formControl]="formControls.password"
      >
        <sl-icon name="lock" slot="prefix" />
      </sl-input>
    </div>
    <div class="form-control__container">
      <sl-input
        type="password"
        class="input--primary"
        placeholder="Retype the password"
        password-toggle
        label="Confirm password"
        size="medium"
        i18n-label
        i18n-placeholder
        appSlInputIconFocus
        required
        ngDefaultControl
        [attr.help-text]="formState().passwordsMatch ? '' : translations.confirmPasswordHelpText"
        [formControl]="formControls.confirmPassword"
      >
        <sl-icon name="lock" slot="prefix" />
      </sl-input>
    </div>
    <div class="form-control__container">
      <sl-input
        type="text"
        class="input--primary"
        placeholder="Type a pokemon"
        label="What's your favourite pokemon?"
        size="medium"
        i18n-label
        i18n-placeholder
        appSlInputIconFocus
        appTrim
        ngDefaultControl
        required
        [attr.help-text]="formControls.favouritePokemonId['touched'] && !formControls.favouritePokemonId['valid'] ? translations.pokemonHelpText : ''"
        [formControl]="formControls.favouritePokemonId"
      >
        <sl-icon name="star" slot="prefix" />
        @if (formState().isPokemonValidating()) {
          <img
            class="loading__image"
            alt="pokeball"
            slot="suffix"
            i18n-alt
            ngSrc="angularexampleapp/assets/images/pokeball.png"
            width="100"
            height="100"
          />
        }
      </sl-input>
    </div>
    <div class="form-control__container">
      <sl-checkbox
        class="checkbox--primary"
        i18n
        appSlCheckboxControl
        [attr.help-text]="formControls.terms['touched'] && !formControls.terms['valid'] ? translations.fieldRequired : ''"
        [formControl]="formControls.terms"
      >
        I’ve caught 'em all (the terms and privacy policy) and I’m cool with them!
      </sl-checkbox>
    </div>
    <div class="form-control__container">
      <sl-button
        class="button--primary"
        size="medium"
        pill
        type="submit"
        [disabled]="formState().isLoading"
        [class.pokemon-appear]="formState().isRegistrationCompleted"
        [attr.loading]="formState().isLoading || null"
      >
        <ng-container i18n>Create account</ng-container>
      </sl-button>
    </div>
    <div>
      <p class="form-footer__paragraph">
        <a class="form-footer__link" [routerLink]="authUrls.logIn">
          <ng-container i18n>Do you have an account? Log in</ng-container>
        </a>
      </p>
    </div>
  </form>
</main>
