# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
dist-ssr
/tmp
/out-tsc
public
.firebaserc

# dependencies
node_modules
functions/node_modules
functions/lib

# IDEs and editors
/.firebase
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
!/e2e/protractor.conf.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# log Files
*.log
