<div class="search__container">
  <sl-input
    class="input--primary search__input"
    placeholder="Find a pokemon!"
    i18n-placeholder
    clearable
    size="medium"
    i18n-size
    appSlInputIconFocus
    [class.has-action]="termValue && pokemonLoading"
    [value]="termValue"
    (sl-input)="assignInputValue($event)"
    (keydown.enter)="searchPokemon()"
  >
    <sl-icon name="search" slot="prefix" i18n-slot />
  </sl-input>

  @if (termValue && pokemonLoading) {
    <sl-button class="button--image" slot="trigger" i18n-slot (click)="searchPokemon()">
      <img
        class="search__loading-image"
        alt="angular logo"
        slot="suffix"
        ngSrc="/assets/images/pokeball.png"
        i18n-slot
        i18n-alt
        width="100"
        i18n-ngSrc
        height="100"
        [class.loading__image]="pokemonLoading"
      />
    </sl-button>
  }
</div>
