<h1 class="header__title">{{'heroDetail' | translate}}</h1>
<mat-progress-spinner *ngIf="!hero"
                      class="progress__spinner"
                      [color]="'primary'"
                      [mode]="'indeterminate'">
</mat-progress-spinner>
<div id="heroe-detail" *ngIf="hero" [@fadeInOut]>
    <ng-container>
        <app-hero-card [hero]="hero"></app-hero-card>
        <div id="hero-json">
            <pre>{{hero | json}}</pre>
        </div>
    </ng-container>
</div>
<button mat-raised-button type="button" (click)="dynamicImport()">
    {{'snapshot' | translate | uppercase}}
</button>
<button mat-raised-button type="button" (click)="goBack()">
    {{'goBack' | translate | uppercase}}
</button>
<button *ngIf="hero" mat-raised-button type="button" (click)="goToTheAnchor()">
    {{'Anchor to this hero' | translate | uppercase}}
</button>
