<mat-card id="loading-card" class="hero-card">
  <mat-card-header>
    <div mat-card-avatar class="hero-header__image"></div>
    <mat-card-title>
      <app-loading-placeholder [width]="'200px'" [height]="'1rem'"></app-loading-placeholder>
    </mat-card-title>
    <mat-card-subtitle>
      <app-loading-placeholder [width]="'160px'" [height]="'1rem'"></app-loading-placeholder>
    </mat-card-subtitle>
    <div class="flex-spacer"></div>
    <div class="hero-actions">
      <mat-icon class="icon__like--grey">favorite</mat-icon>
    </div>
  </mat-card-header>
  <app-loading-placeholder [height]="'486px'"></app-loading-placeholder>
</mat-card>

