:host(app-nav) {
  padding-top: 0;
  padding-bottom: 5em;
  display: grid;

  header {
    position: fixed;
    z-index: 999;
    width: 100%;

    nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 8px 16px;
      color: white;
      height: 4em;
      background: #3f51b5;

      .mat-raised-button {
        color: #3f51b5;
        margin-right: 1em;
      }

      .progress-bar {
        display: flex;
        align-content: center;
        align-items: center;
        height: 5px;
      }

      .image-icon {
        width: 20px;
        height: 20px;
      }

      img {
        vertical-align: middle;
      }
    }
  }
}

@media (max-width: 680px) {
  :host(app-nav) {
    padding-top: 0;
    padding-bottom: 1em;

    header {
      position: relative;

      nav {
        height: 7em;
        display: flex;
        padding: 1em 2em 0;
      }
    }
  }
}

@media (max-width: 425px) {
  :host(app-nav) {
    padding-bottom: 0;

    header {
      nav {
        app-search-bar {
          width: 75%;
        }
      }
    }
  }
}
