nav {
  display: block;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  color: white;
  height: 2em;
  background: #3f51b5;

  .mat-raised-button {
    color: #3f51b5;
    margin-right: 1em;
  }

  .right-menu {
    float: right;
    display: flex;
    align-items: center;
  }
}