<header>
    <nav>
        <a mat-raised-button *ngFor="let item of menuItems" routerLink="{{item.link}}">
            {{item.name | uppercase}}
        </a>
        <div class="flex-spacer"></div>
        <app-search-bar></app-search-bar>
        <button mat-icon-button [matMenuTriggerFor]="matmenu">
            <mat-icon>public</mat-icon>
        </button>
        <mat-menu #matmenu="matMenu">
            <button mat-menu-item (click)="changeLanguage('en')">
                <mat-icon>flag</mat-icon>
                <span>
                {{ 'english' | translate }}
            </span>
            </button>
            <button mat-menu-item (click)="changeLanguage('es')">
                <mat-icon>flag</mat-icon>
                <span>
                {{ 'spanish' | translate }}
            </span>
            </button>
            <button mat-menu-item (click)="changeLanguage('pt-br')">
                <mat-icon>flag</mat-icon>
                <span>
                {{ 'portuguese' | translate }}
            </span>
            </button>
        </mat-menu>
        <a class="image-icon" href="{{appConfig.repositoryURL}}" target="_blank">
            <img src="assets/images/github-circle-white-transparent.svg">
        </a>
    </nav>
    <section class="progress-bar">
        <mat-progress-bar
            [color]="'primary'"
            [mode]="progressBarMode">
        </mat-progress-bar>
    </section>
</header>
