<header>
    <nav>
        <a md-raised-button *ngFor="let item of menuItems" routerLink="{{item.link}}">
            {{item.name | uppercase}}
        </a>
        <div class="flex-spacer"></div>
        <iframe
            src="https://ghbtns.com/github-btn.html?user=ismaestro&repo=angular-example-app&type=star&count=true&size=small"
            frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
        <toh-hero-search></toh-hero-search>
        <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>public</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item (click)="changeLanguage('en')">
                <md-icon>flag</md-icon>
                <span>
                {{ 'english' | translate }}
            </span>
            </button>
            <button md-menu-item (click)="changeLanguage('es')">
                <md-icon>flag</md-icon>
                <span>
                {{ 'spanish' | translate }}
            </span>
            </button>
        </md-menu>
    </nav>
    <section class="progress-bar">
        <md-progress-bar
            [color]="'primary'"
            [mode]="progressBarMode">
        </md-progress-bar>
    </section>
</header>
