@import 'functions';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

:host {
  .spinner__container div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 100%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: 3s linear infinite anim;
  }

  .spinner__container div .color__green {
    border: rem(4px) solid $primary;
  }

  .spinner__container div .color__orange {
    border: rem(4px) solid $secondary;
  }
  @keyframes anim {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }

    10% {
      opacity: 0.7;
    }

    100% {
      width: 20vmin;
      height: 20vmin;
      opacity: 0;
    }
  }

  .spinner__container div:first-child {
    animation-delay: 0.1s;
  }

  .spinner__container div:nth-child(2) {
    animation-delay: 0.4s;
  }

  .spinner__container div:nth-child(3) {
    animation-delay: 0.7s;
  }

  .spinner__container div:nth-child(4) {
    animation-delay: 1s;
  }

  .spinner__container div:nth-child(5) {
    animation-delay: 1.3s;
  }
}

@keyframes anim {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }

  10% {
    opacity: 0.7;
  }

  100% {
    width: 20vmin;
    height: 20vmin;
    opacity: 0;
  }
}
