<div id="left">
  <h2 class="header__title">{{ 'heroesList' | translate }}</h2>
  <div>
    <mat-list id="loading-list" *ngIf="!heroes">
      <mat-list-item *ngFor="let i of [1,2]">
        <img mat-list-avatar src="assets/images/heroes/default.png">
        <h3 mat-line>.</h3>
        <p mat-line><span>.</span></p>
        <div class="hero-actions">
          <mat-icon class="icon__like--grey">favorite</mat-icon>
        </div>
      </mat-list-item>
      <div id="loading-spinner">
        <app-spinner></app-spinner>
      </div>
    </mat-list>

    <mat-list>
      <mat-list-item *ngFor="let hero of heroes" [@fadeInOut]>
        <img *ngIf="hero.default" class="cp"
             (click)="seeHeroDetails(hero);" mat-list-avatar
             src="assets/images/heroes/{{hero.id}}-thumbnail.jpg">
        <img *ngIf="!hero.default"
             (click)="seeHeroDetails(hero);" mat-list-avatar src="assets/images/heroes/default.png">
        <h3 mat-line [class.cp]="hero.default" (click)="seeHeroDetails(hero);"> {{hero.name}} </h3>
        <p mat-line [class.cp]="hero.default" (click)="seeHeroDetails(hero);">
          <span>{{hero.alterEgo}}</span>
        </p>
        <div class="hero-actions">
          {{hero.likes | number:'.0'}}
          <mat-icon matTooltip="{{(canVote ? 'canVote' : 'cannotVote') | translate}}"
                    [matTooltipPosition]="'above'"
                    class="icon__like--red" (click)="like(hero)">
            favorite
          </mat-icon>
          <mat-icon class="icon__remove" *ngIf="!hero.default"
                    (click)="remove(hero);">
            delete
          </mat-icon>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<div id="right" [@fadeInOut]>
  <h2 class="header__title">{{ 'createHero' | translate }}</h2>
  <div>
    <form [formGroup]="newHeroForm" #form="ngForm" appScrollToFirstInvalid
          (ngSubmit)="createNewHero(newHeroForm.value)" autocomplete="on">
      <mat-form-field class="input-container">
        <input matInput name="hname" type="text"
               placeholder="{{'nameWithPalindrome' | translate}}"
               formControlName="name">
        <mat-error *ngIf="!newHeroForm.controls.name.valid && form.submitted">
          {{'nameRequired' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-container">
        <input matInput type="text" name="rname"
               placeholder="{{'realName' | translate}}"
               formControlName="alterEgo">
        <mat-error *ngIf="!newHeroForm.controls.alterEgo.valid && form.submitted">
          {{'realNameRequired' | translate}}
        </mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" [disabled]="form.submitted && !newHeroForm.valid">
        {{'create' | translate}}
      </button>
      <div *ngIf="error">{{error | translate}}</div>
    </form>
  </div>

  <div id="heroes-json">
    <h2 class="header__title">{{ 'firstTwoHeroesById' | translate }}</h2>
    <pre>{{heroes | slice:0:2 | json}}</pre>
  </div>
</div>
<div class="clear"></div>
