.search-result li {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 195px;
    height: 20px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
}

.search-result {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 20;
}

#search-box {
    width: 200px;
    height: 20px;
}

#search-component h4 {
    margin: 0;
}