<h3>{{ 'hero-create-new.newHero' | translate }}</h3>
<form (ngSubmit)="onSubmit()" #heroForm="ngForm" id="new-hero-form">
    <div class="form-group">
        <label class="form-label" for="id">Id</label>
        <input type="text" class="form-control" id="id"
               [(ngModel)]="hero.id" name="id">
    </div>
    <div class="form-group">
        <label class="form-label" for="name">{{ 'name' | translate }}</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="hero.name" name="name"
               #heroName="ngModel">
        <div [hidden]="heroName.valid || heroName.pristine"
             class="alert alert-danger">
            {{ 'nameRequired' | translate }}
        </div>
    </div>
    <div class="form-group">
        <label class="form-label" for="alterEgo">Álter Ego</label>
        <input type="text" class="form-control" id="alterEgo"
               [(ngModel)]="hero.alterEgo" name="alterEgo">
    </div>
    <div class="form-group">
        <label class="form-label" for="power">{{ 'heroPower' | translate }}</label>
        <select class="form-control" id="power"
                required
                [(ngModel)]="hero.power" name="power">
            <option *ngFor="let power of powers" [value]="power">{{power}}</option>
        </select>
    </div>
    <div class="form-group alert alert-danger" *ngIf="error">{{error | translate}}</div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">{{ 'createNewHero' | translate }}!
        </button>
    </div>
</form>