<h3>{{ 'hero-create-new.newHero' | translate }}</h3>
<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div>
        <label for="id">Id</label>
        <input type="text" id="id"
               [(ngModel)]="hero.id" name="id">
    </div>
    <div>
        <label for="name">{{ 'name' | translate }}</label>
        <input type="text" id="name"
               required
               [(ngModel)]="hero.name" name="name"
               #heroName="ngModel">
        <div [hidden]="heroName.valid || heroName.pristine">
            {{ 'nameRequired' | translate }}
        </div>
    </div>
    <div>
        <label for="alter-ego">Álter Ego</label>
        <input type="text" id="alter-ego"
               [(ngModel)]="hero.alterEgo" name="alterEgo">
    </div>
    <div>
        <label for="power">{{ 'heroPower' | translate }}</label>
        <select id="power"
                required
                [(ngModel)]="hero.power" name="power">
            <option *ngFor="let power of powers" [value]="power">{{power}}</option>
        </select>
    </div>
    <div *ngIf="error">{{error | translate}}</div>
    <div>
        <button type="submit" [disabled]="!heroForm.form.valid">{{ 'createNewHero' | translate }}!
        </button>
    </div>
</form>