<nav class="nav__container" [class.open]="menuOpen">
  <div class="nav-mobile__container" [class.open]="menuOpen">
    <div class="nav__item">
      <a class="nav__link" [routerLink]="ROOT_URLS.home">
        <img
          class="nav__logo--mobile"
          alt="angular logo"
          i18n-alt
          ngSrc="/assets/icons/favicon-48x48.png"
          width="48"
          height="48"
          priority
        />
      </a>
    </div>
    <div class="nav__item">
      <sl-button class="button--icon nav__hamburger" (click)="toggleMenu()">
        <sl-icon name="list"></sl-icon>
      </sl-button>
    </div>
  </div>
  <div class="nav__items" [class.open]="menuOpen">
    @if (!menuOpen) {
      <div class="nav__item">
        <a class="nav__link" [routerLink]="ROOT_URLS.home">
          <img
            alt="angular logo"
            i18n-alt
            ngSrc="/assets/icons/favicon-48x48.png"
            width="48"
            height="48"
            priority
          />
        </a>
      </div>
    }
    @for (item of navItems; track item.id) {
      @if (
        (item.isUserRequired && isUserLoggedIn) ||
        (!item.isUserRequired && !isUserLoggedIn) ||
        item.isUserRequired === undefined
      ) {
        <div class="nav__item" [class.user-logged]="isUserLoggedIn">
          @switch (item.type) {
            @case (navItemType.LINK) {
              <a
                (click)="closeMenu()"
                class="nav__link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                ariaCurrentWhenActive="page"
                [routerLink]="item.url"
              >
                {{ item.text | firstTitleCase }}
              </a>
            }
            @case (navItemType.INPUT) {
              <app-pokemon-search
                (loading)="pokemonLoading = $event"
                (pokemonLoaded)="item.change && item.change($event)"
              />
              @if (pokemonLoaded?.sprites?.front_default) {
                <a [routerLink]="pokemonLoadedRoute">
                  <img
                    class="pokemon-search__image"
                    alt="pokemon image"
                    i18n-alt
                    ngSrc="{{ pokemonLoaded?.sprites?.front_default }}"
                    width="40"
                    height="40"
                    priority
                  />
                </a>
              }
              @if (pokemonLoading) {
                <div class="loading__circle"></div>
              }
            }
            @case (navItemType.BUTTON) {
              <sl-button
                class="button--primary"
                size="medium"
                pill
                (click)="item.click && item.click()"
                >{{ item.text | firstTitleCase }}</sl-button
              >
            }
          }
        </div>
      }
    }

    <div class="nav__item">
      <app-language-selector></app-language-selector>
    </div>

    @if (!isUserLoggedIn) {
      <div class="nav__item">
        <sl-button class="button--icon" (click)="toggleTheme()">
          @if (themeSelected === Theme.DARK || !themeSelected) {
            <sl-icon name="brightness-high-fill"></sl-icon>
          } @else {
            <sl-icon name="moon"></sl-icon>
          }
        </sl-button>
      </div>
    }
  </div>
</nav>
