footer {
  padding: 8px 16px;
  color: white;
  background: #3f51b5;
  margin-top: 2em;
  position: sticky;
  top: 100%;

  img {
    width: 25%;
  }
}

.footer-xs {
  text-align: center;
  padding-top: 1em;
}
