@use 'base/media-queries' as mq;

:host {
  .pokemon__container {
    position: absolute;
    right: 45px;
    bottom: -105px;

    @include mq.for-tablet-up {
      right: 130px;
      bottom: -170px;
    }
  }

  .pokeball__image {
    position: absolute;
    top: 161px;
    left: 96px;
    width: 20px;
    height: auto;
  }
}
