<div class="pt-2 pt-lg-3 px-0 px-lg-3">
  <h3 class="mb-2"><ng-container i18n>Change your password</ng-container></h3>
  <form
    #changePasswordFormRef="ngForm"
    (ngSubmit)="sendForm()"
    *ngIf="changePasswordForm"
    [class.needs-validation]="!changePasswordFormRef.submitted"
    [class.was-validated]="changePasswordFormRef.submitted"
    [formGroup]="changePasswordForm">
    <div class="col-12 col-lg-6 col-xl-5 col-xxl-4">
      <div class="form-floating mb-3">
        <input
          [formControl]="oldPassword"
          class="form-control"
          id="floating-old-password"
          minlength="8"
          placeholder="Password"
          required
          type="password" />
        <label class="text-start" for="floating-old-password"
          ><i class="icon fa-solid fa-lock me-1"></i>
          <ng-container i18n>Current password</ng-container></label
        >
        <app-form-errors
          [control]="oldPassword"
          [formRef]="changePasswordFormRef"
          class="invalid-feedback"></app-form-errors>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-5 col-xxl-4 password-container">
      <div class="form-floating mb-3">
        <input
          (keyup)="updatePassword()"
          [class.is-invalid]="newPassword.errors && newPassword.errors['passwordStrength']"
          [formControl]="newPassword"
          [minLength]="6"
          [type]="showPassword ? 'text' : 'password'"
          autocomplete
          class="form-control"
          id="floating-new-password"
          placeholder="Password"
          required />
        <label class="text-start" for="floating-new-password">
          <i class="icon fa-solid fa-lock me-1"></i>
          <ng-container i18n>New password</ng-container>
        </label>
        <p
          *ngIf="
            changePasswordFormRef.touched &&
            changePasswordForm.errors &&
            changePasswordForm.errors['samePasswords']
          "
          class="mt-2 text-danger">
          <ng-container i18n>Passwords must be different from each other</ng-container>
        </p>
      </div>
      <div class="password-eye-icon-container">
        <i
          (click)="showPassword = !showPassword"
          (keyup)="showPassword = !showPassword"
          [class.active]="showPassword"
          class="icon fa-solid fa-eye"></i>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-5 col-xxl-4 text-center">
      <button #btnReset class="d-none" type="reset">Reset</button>
      <button
        [class.is-loading-primary]="isButtonChangePasswordLoading"
        [disabled]="isButtonChangePasswordLoading"
        class="btn btn-primary"
        type="submit">
        <ng-container *ngIf="isButtonChangePasswordLoading">
          <span
            aria-hidden="true"
            class="spinner-border text-white spinner-border-sm me-1"
            role="status"></span>
        </ng-container>
        <ng-container i18n>Change password</ng-container>
      </button>
    </div>
  </form>
</div>
