@import "../../../styles/mixins";
@import "../../../styles/colors";

.hero-detail-link {
  @include text-small-grey();
}

mat-card-title, mat-card-subtitle, .mat-card-image {
  cursor: pointer;
}

.hero-card {
  margin-bottom: 2rem;
  @include push--auto(2rem);
}

.progress__spinner {
  @include push--auto();
}

img {
  width: 100%;
  height: auto;
}

@media (max-width: 680px) {
  .hero-card {
    width: 80%;
    @include push--auto();
  }

  .mat-card {
    margin-bottom: 2rem;
  }
}
