@use 'components/pages';

$card-background-image-width: 512px;
$card-background-image-height: 288px;

:host {
  @include pages.read-page;

  align-items: center;

  .pokemon-card__image-container {
    position: relative;
    width: $card-background-image-width;
    height: $card-background-image-height;
    background-image: url('/assets/images/battle-grass.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--border-radius-sm);

    .pokemon-card__pokemon-image {
      position: absolute;
      right: 110px;
      bottom: 135px;
      width: auto;
      max-width: 100%;
      height: auto;
      opacity: 0;
      transition:
        opacity 0.5s ease-in-out,
        transform 0.5s ease-in-out;
      transform: scale(0.8) translateY(30px);
      scale: 1.3;

      &.loaded {
        opacity: 1;
        transform: scale(1.3) translateY(-5px);
      }
    }
  }

  canvas {
    display: none;
  }
}
