* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    margin: 2em;
}

body {
    color: #888;
    font-family: Cambria, Georgia, "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
    color: #444;
    font-weight: lighter;
}

h3 {
    text-align: center;
}

button {
    cursor: pointer !important;
}

