@import "mixins";

:host(app-search-bar) {
  /deep/ .mat-input-placeholder {
    font-weight: 100;
    color: $secondary--color;
  }

  /deep/ .mat-input-underline {
    background-color: $secondary--color;
    bottom: 1.5rem;
  }

  /deep/ .mat-input-infix {
    border-top: 1.2rem solid transparent;
  }
}
