$popup-max-width: 265px;

:host {
  position: fixed;
  right: var(--spacing-r-md);
  bottom: var(--spacing-r-md);
  z-index: var(--z-index-cookie-consent);
  visibility: hidden;
  opacity: 0;
  animation: 1s linear forwards 0.5s fade-in;

  .cookies__container {
    max-width: $popup-max-width;
    padding: var(--spacing-r-xl);
    font-size: var(--font-size-sm);
    background-color: var(--page-background);
    border: 1px solid var(--senary-contrast);
    border-radius: var(--border-radius-sm);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    transition:
      background-color 0.3s ease,
      border-color 0.3s ease,
      color 0.3s ease;

    > div {
      display: flex;
      gap: var(--spacing-r-md);
      align-items: center;
      width: 100%;
      margin-block-start: var(--spacing-r-xl);
    }

    p {
      margin-block: 0;
      color: var(--primary-contrast);
    }
  }

  @keyframes fade-in {
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
}
