@use 'base/media-queries' as mq;
@use 'base/pages';

$login-form-max-width: 400px;

:host {
  @include pages.read-page;

  text-align: center;

  .heading__title {
    margin-block-end: var(--spacing-r-3xl);
  }

  .login__form {
    max-width: $login-form-max-width;
    padding: var(--spacing-r-5xl) var(--spacing-r-xl);
    margin: 0 auto;
    border: 1px solid var(--senary-contrast);

    @include mq.for-tablet-up {
      padding: var(--spacing-r-6xl) var(--spacing-r-xl);
    }

    .form-control__container {
      margin-block: var(--spacing-r-xl);

      &:first-of-type {
        margin-block-start: 0;
      }

      @include mq.for-tablet-up {
        margin-block: var(--spacing-r-4xl);
      }
    }

    .form-footer__paragraph {
      margin: 0;

      .form-footer__link {
        font-size: var(--font-size-sm);
      }
    }

    .login__image-container {
      position: relative;

      .login__image {
        position: absolute;
        right: 7px;
        bottom: -52px;
        width: 55px;
        height: auto;

        @include mq.for-tablet-up {
          right: -6px;
          bottom: -65px;
          width: 75px;
          height: auto;
        }
      }
    }
  }
}
