@import 'functions';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

$xs-mb: -155px;
$xs2-mb: -125px;
$md-mb: -120px;
$lg-mb: -88px;

.app__content-container {
  min-height: 100%;
  animation: fade-in 2s;

  @media (width >= 320px) {
    margin-bottom: rem($xs-mb);
  }
  @media (width >= 406px) {
    margin-bottom: rem($xs2-mb);
  }
  @media (width >= 620px) {
    margin-bottom: rem($md-mb);
  }
  @media (width >= 947px) {
    margin-bottom: rem($lg-mb);
  }
}

.app__main-container {
  @include media-breakpoint-up(lg) {
    width: calc(100% - 256px);
  }
  @include media-breakpoint-only(xs) {
    margin-top: 4.5rem;
  }
}

.app__footer--push {
  @media (width >= 320px) {
    height: rem(calc(abs($xs-mb) - 5px));
  }
  @media (width >= 406px) {
    height: rem(calc(abs($xs2-mb) - 5px));
  }
  @media (width >= 620px) {
    height: rem(calc(abs($md-mb) - 5px));
  }
  @media (width >= 947px) {
    height: rem(calc(abs($lg-mb) - 5px));
  }
}
