@if (!loading()) {
  <app-card>
    <ng-container i18n ngProjectAs="heading">
      <h2 class="card__heading">{{ pokemon()?.name | firstTitleCase }}</h2>
    </ng-container>
    <ng-container ngProjectAs="body">
      <div class="pokemon__image-container">
        <!-- eslint-disable-next-line @angular-eslint/template/prefer-ngsrc -->
        <img alt="pokemon" i18n-alt width="100" height="100" [src]="pokemonImage || ''" />
      </div>
      <p i18n>N.º: {{pokemon()?.order}}</p>
      <p i18n>Height: {{pokemon()?.height}} dm</p>
      <p i18n>Weight: {{pokemon()?.weight}} hg</p>
    </ng-container>
  </app-card>
} @else {
  <app-card>
    <ng-container ngProjectAs="heading">
      <sl-skeleton effect="pulse" />
    </ng-container>
    <ng-container ngProjectAs="body">
      <div class="pokemon__image-container">
        <sl-skeleton effect="pulse" />
      </div>
      <p><sl-skeleton effect="pulse" /></p>
      <p><sl-skeleton effect="pulse" /></p>
      <p><sl-skeleton effect="pulse" /></p>
    </ng-container>
  </app-card>
}
