:host(toh-hero-list) {
  h2, .color-picker {
    margin: 0 0 1em 0;
  }

  .hero-list {
    float: left;
    min-width: 60%;
    margin-right: 2em;

    .list-group {
      li {
        cursor: pointer;

        &.selected {
          color: black;
          background-color: #E0E0E0;
        }

      }
    }

    .hero-info {
      span {
        margin-right: 1em;
      }
    }

    .hero-actions {
      position: absolute;
      right: 1em;
    }
  }
}
