@import "../../../styles/mixins";

footer {
  padding: calculateRem(8px) calculateRem(16px);
  color: $secondary--color;
  background: $primary--color;
  margin-top: 2rem;
  position: sticky;
  top: 100%;

  img {
    width: 25%;
  }
}

.footer-xs {
  text-align: center;
  padding-top: 1rem;
}
