<footer>
  <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
       class.xs="footer-xs">
    <div fxFlex="33">
      <span i18n="@@angularExampleApp">Angular Example App 2019</span>
    </div>
    <div fxFlex="33" class="text--center">
      <lib-ngx-example-library></lib-ngx-example-library>
    </div>
    <div fxFlex class="text--right" class.xs="footer-xs">
      <a href="https://angular.io/" rel="noreferrer" target="_blank">
        <img alt="angular logo" src="/assets/images/angular.svg">
      </a>
    </div>
  </div>
</footer>
