@import 'functions';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'colors';
@import 'variables';

$header-color-text: $black-light-100;

.header__container {
  @include media-breakpoint-only(xs) {
    position: fixed;
    z-index: $z-index-sidebar;
  }

  .header__content {
    @include media-breakpoint-up(lg) {
      width: calc(100% - 256px);
    }
  }
}

header {
  z-index: $z-index-header-footer;
  background-color: $white;
  border-radius: 0.375rem;
  box-shadow: $section-box-shadow;

  // stylelint-disable-next-line
  .navbar-nav .dropdown-menu {
    position: absolute;
  }

  // stylelint-disable-next-line
  .nav-link {
    margin: 0 rem(12px);
  }

  .header__button-sidebar {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;

    &.header__button-sidebar--collapsed {
      .app__icon {
        color: $primary;
      }
    }

    .app__icon {
      font-size: 1.6rem;
      color: $secondary;
    }
  }

  // stylelint-disable-next-line
  .dropdown-toggle {
    background: transparent;
    border: none;

    a {
      &:hover {
        color: $header-color-text;
        background: none;
      }
    }
  }

  // stylelint-disable-next-line
  .dropdown-toggle.show {
    // stylelint-disable-next-line
    .rounded-circle {
      border: rem(2px) solid $primary;
    }
  }

  // stylelint-disable-next-line
  .dropdown-menu {
    z-index: $z-index-sidebar;

    // stylelint-disable-next-line
    .dropdown-item {
      min-width: rem(270px);

      button {
        background: transparent;
        border: none;
      }

      .app__icon {
        width: rem(16px);
        height: rem(16px);
        color: $header-color-text;
      }

      span,
      button,
      small {
        color: $header-color-text;
      }

      &:hover {
        cursor: pointer;
        background: lighten($primary, 5);

        span,
        button,
        .app__icon {
          color: $white;
        }
      }

      &.dropdown__item--no-hover:hover,
      &.dropdown__item--no-hover:focus {
        cursor: default;
        background: none;

        span,
        button,
        small {
          color: $header-color-text;
        }
      }

      &.dropdown__item--active {
        span,
        button {
          color: $white;
          background: $primary;
        }

        .app__icon {
          color: $white;
        }

        &:hover {
          span {
            background: lighten($primary, 5);
          }
        }
      }
    }

    &[data-bs-popper] {
      top: 103%;
    }
  }

  // stylelint-disable-next-line
  .rounded-circle {
    width: rem(40px);
    border: rem(1px) solid $primary;
  }

  .main__avatar-circle:hover {
    border: rem(2px) solid $primary;
  }
}
