<nav>
  @for (item of navItems; track item.id) {
    @if (
      (item.isUserRequired && isUserLoggedIn) ||
      (!item.isUserRequired && !isUserLoggedIn) ||
      item.isUserRequired === undefined
    ) {
      @switch (item.type) {
        @case (navItemType.LINK) {
          <a
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
            [routerLink]="item.url">
            {{ item.text | firstTitleCase }}
          </a>
        }
        @case (navItemType.BUTTON) {
          <button (click)="item.click && item.click()">{{ item.text | firstTitleCase }}</button>
        }
        @case (navItemType.INPUT) {
          <app-pokemon-search (change)="item.change && item.change($event)" />
        }
      }
    }
  }
</nav>
