@import 'functions';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'variables';

:host {
  h1 {
    font-size: 1.7rem;
  }

  .login-page__container {
    @include media-breakpoint-up(sm) {
      @media (height >= 685px) {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
      }
    }
  }

  .login-page__card {
    max-width: $cards-max-width;
  }

  .card__header {
    right: 0;
  }
}
