.form-group {
  margin: 1em 0 1em 0;
}

.form-label {
  display: inline-block;
  width: 10%;
  text-align: left;
}

.form-button {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
  margin: 1.5em 0 0 0;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}
