#heroes-list {
  margin: 2em;
}

.hero-card {
  width: 45%;
  margin: 2em auto;
}

.hero-header-image {
  background-size: cover;
}

/deep/ .mat-card-image {
  margin-bottom: -28px !important;
}

.progress-spinner {
  margin: 0 auto;
}

@media (max-width: 425px) {
  .hero-card {
    width: 80%;
    margin: 0 auto;
  }
}