<h1 class="section-title">{{'topHeroes' | translate}}</h1>
<md-progress-spinner *ngIf="!heroes"
                     class="progress-spinner"
                     [color]="'primary'"
                     [mode]="'indeterminate'">
</md-progress-spinner>
<md-grid-list cols="2" rowHeight="400px" *ngIf="heroes">
    <md-grid-tile *ngFor="let hero of heroes">
        <md-card class="hero-card">
            <md-card-header>
                <div md-card-avatar class="hero-header-image"
                     [ngStyle]="{'background-image': 'url(assets/images/heroes/' + hero.id + '-mini.jpg)'}"></div>
                <md-card-title>{{hero.name}}</md-card-title>
                <md-card-subtitle>{{hero.alterEgo}}</md-card-subtitle>
                <div class="flex-spacer"></div>
                <div class="hero-actions">
                    {{hero.likes}}
                    <md-icon mdTooltip="{{(canVote ? 'canVote' : 'cannotVote') | translate}}"
                             [mdTooltipPosition]="'above'"
                             class="like-icon" (click)="like(hero)">favorite
                    </md-icon>
                </div>
            </md-card-header>
            <img md-card-image src="assets/images/heroes/{{hero.id}}.jpg">
        </md-card>
    </md-grid-tile>
</md-grid-list>
