<footer class="footer-container">
  <div class="footer-columns">
    <div>
      <h2 i18n>Angular</h2>
      <ul>
        <li>
          <a i18n title="Angular blog" i18n-title href="https://blog.angular.dev" target="_blank"
            >Blog</a
          >
        </li>
        <li>
          <a i18n title="X" i18n-title href="https://x.com/angular" target="_blank">X</a>
        </li>
        <li>
          <a i18n title="YouTube" i18n-title href="https://www.youtube.com/angular" target="_blank"
            >YouTube</a
          >
        </li>
        <li>
          <a
            i18n
            href="https://discord.gg/angular"
            title="Join the discussions at Angular Community Discord server."
            i18n-title
            target="_blank"
          >
            Discord
          </a>
        </li>
        <li>
          <a
            i18n
            title="GitHub"
            i18n-title
            href="https://github.com/angular/angular"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h2 i18n>Angular Example App</h2>
      <ul>
        <li>
          <a
            i18n
            href="https://github.com/Ismaestro/angular-example-app/blob/main/CONTRIBUTING.md"
            title="Contribute to Angular Example App"
            i18n-title
            target="_blank"
          >
            Contribute
          </a>
        </li>
        <li>
          <a
            i18n
            href="https://github.com/Ismaestro/angular-example-app/issues"
            title="Post issues and suggestions on github."
            i18n-title
            target="_blank"
          >
            Report Issues
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2 i18n>Resources</h2>
      <ul>
        <li>
          <a
            i18n
            href="https://stackoverflow.com/questions/tagged/angular"
            title="Stack Overflow: where the community answers your technical Angular questions."
            i18n-title
            target="_blank"
          >
            Stack Overflow
          </a>
        </li>
        <li>
          <a
            i18n
            href="https://developers.google.com/community/experts/directory?specialization=angular"
            title="Angular Google Developer Experts"
            i18n-title
            target="_blank"
          >
            Angular Google Developer Experts
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2 i18n>Languages</h2>
      <ul>
        <li>
          <a
            i18n
            href="https://angular-example-app.netlify.app"
            title="English"
            i18n-title
            target="_blank"
            >English (US)</a
          >
        </li>
        <li>
          <a
            i18n
            href="https://angular-example-app.netlify.app/es"
            title="Español"
            i18n-title
            target="_blank"
          >
            Español (España)</a
          >
        </li>
      </ul>
    </div>
  </div>
  <p i18n class="licence__paragraph">
    ©2016-2025. Code licensed under a
    <a href="https://opensource.org/license/mit" target="_blank" title="License text" i18n-title
      >MIT License</a
    >
  </p>
</footer>
