<app-decorative-header [svgUrl]="'/assets/images/world.svg'">
  <h1 ngProjectAs="heading">
    Angular <br />
    <kbd class="home__heading-kbd">Example</kbd> App
  </h1>
</app-decorative-header>

<p class="text--medium">
  This project is a modern real-world application, built and designed as a practical resource for
  learning Angular.
</p>

<p>
  It comes with features like internationalization, standalone components, a modern folder
  structure, and more, making it a great starting point for building scalable Angular apps.
</p>

<p>
  Whether you’re looking for a boilerplate or a solid base project, this setup is designed to help
  you create clean, maintainable code with ease.
</p>

<p>
  This project leverages the <b>PokeAPI</b> to provide fun and practical examples, making it easier
  to understand key concepts in Angular development. By using data from the Pokémon universe, it
  offers a familiar and engaging way to showcase features like fetching data, handling API calls,
  and displaying dynamic content.
</p>

<div class="separator__container">
  <img alt="angular logo" i18n-alt ngSrc="/assets/images/pikachu.png" width="200" height="200" />
</div>

<h2>Key features</h2>
