@use 'base/media-queries' as mq;
@use 'base/pages';

$separator-container-margin-top: -20px;
$separator-image-width: 200px;
$separator-margin-bottom: -51px;

:host {
  @include pages.read-page;

  .home__heading-kbd {
    margin: var(--spacing-r-md) 0;
  }

  .separator__container {
    margin-top: $separator-container-margin-top;
    text-align: center;
    border-bottom: 1px solid var(--septenary-contrast);

    img {
      width: $separator-image-width;
      height: auto;
      margin-bottom: $separator-margin-bottom;
    }
  }

  .cards__grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: var(--spacing-r-xxl);
    margin-block: var(--spacing-r-xl);

    @include mq.for-tablet-portrait-up {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
