<app-decorative-header [svgUrl]="'/assets/images/world.svg'">
  <h1 ngProjectAs="heading">
    Angular <br />
    <kbd class="home__heading-kbd">Example</kbd> App
  </h1>
</app-decorative-header>

<p class="text--medium">
  This project is a modern real-world application, built and designed as a practical resource for
  learning Angular.
</p>

<p>
  It comes with features like internationalization, standalone components, a modern folder
  structure, and more, making it a great starting point for building scalable Angular apps.
</p>

<p>
  Whether you’re looking for a boilerplate or a solid base project, this setup is designed to help
  you create clean, maintainable code with ease.
</p>

<h2>Key features</h2>
