:root,
:host,
/* stylelint-disable selector-class-pattern */
.sl-theme-light {
  --sl-color-primary-50: var(--sl-color-fuchsia-50);
  --sl-color-primary-100: var(--sl-color-fuchsia-100);
  --sl-color-primary-200: var(--sl-color-fuchsia-200);
  --sl-color-primary-300: var(--sl-color-fuchsia-300);
  --sl-color-primary-400: var(--sl-color-fuchsia-400);
  --sl-color-primary-500: var(--sl-color-fuchsia-500);
  --sl-color-primary-600: var(--sl-color-fuchsia-600);
  --sl-color-primary-700: var(--sl-color-fuchsia-700);
  --sl-color-primary-800: var(--sl-color-fuchsia-800);
  --sl-color-primary-900: var(--sl-color-fuchsia-900);
  --sl-color-primary-950: var(--sl-color-fuchsia-950);
}
