html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  visibility: visible;
  opacity: 1;
}

ul {
  list-style: none;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: rem(9px);
}

::-webkit-scrollbar-track {
  background: $blue-tertiary;
}

::-webkit-scrollbar-thumb {
  background: $blue-secondary;
  border-radius: rem(4px);
}

::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

@include media-breakpoint-only(xs) {
  * {
    font-size: 0.95rem;
  }
}
