a {
  background-size:
    100% rem(2px),
    0 rem(2px);
}

a:hover {
  background: linear-gradient(to right, lighten($secondary, 20), lighten($secondary, 10)),
    linear-gradient(
      to right,
      lighten($secondary, 8),
      lighten($secondary, 3),
      lighten($secondary, 0)
    );
  background-repeat: no-repeat;
  background-position:
    100% 100%,
    0 100%;
  background-size:
    0 rem(2px),
    100% rem(2px);
  transition: background-size 500ms;
}
