<header>
  <nav>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
      <div fxFlex="40">
        <a mat-raised-button [routerLink]="routesConfig.routes.home" i18n>
          Home
        </a>
        <a mat-raised-button *ngIf='isLoggedIn' [routerLink]="routesConfig.routes.hero.myHeroes" i18n>My Heroes</a>
      </div>
      <div fxFlex class="text--right">
        <app-search-bar></app-search-bar>
        <button aria-label="select language button" mat-icon-button [matMenuTriggerFor]="matmenu">
          <mat-icon>language</mat-icon>
        </button>
        <mat-menu #matmenu="matMenu">
          <div mat-menu-item *ngFor="let lang of languages">
            <a class="language-link"
               href="{{(lang.name === 'en') ? currentUrl : '/' + lang.name + currentUrl}}"
               (click)="changeLanguage(lang.name)">
              <mat-icon>flag</mat-icon>
              <span>{{lang.label}}</span>
            </a>
          </div>
        </mat-menu>
        <a mat-raised-button *ngIf='!isLoggedIn' [routerLink]="routesConfig.routes.auth.signUp" i18n>
          Sign Up
        </a>
        <a mat-raised-button *ngIf='!isLoggedIn' [routerLink]="routesConfig.routes.auth.logIn" i18n>
          Log In
        </a>
        <a mat-raised-button *ngIf='isLoggedIn' (click)='logOut()'>
          Log out
        </a>
      </div>
    </div>
  </nav>
</header>
