:host(toh-hero-search) {
  display: flex;
  align-items: center;

  /deep/ .mat-input-placeholder {
    color: white;
  }

  /deep/ .mat-input-underline {
    background-color: white;
    height: 2px;
    bottom: 1.5em;
  }

  /deep/ .mat-input-infix {
    border-top: 1.2em solid transparent;
  }
}
