<div >
    <div *ngIf="hero; else noHero">
        <h2>{{hero.name}} {{ 'details' | translate }}!</h2>
        <div>
            <span>Id</span>
            <input type="text" placeholder="Id" aria-describedby="hero-id"
                   [value]="hero.id" disabled>
        </div>
        <br>
        <div>
            <span>{{ 'name' | translate }}</span>
            <input type="text" placeholder="Name" aria-describedby="hero-name"
                   [(ngModel)]="hero.name">
        </div>
        <br>
        <div>
            <span>Alter ego</span>
            <input type="text" placeholder="Alter ego" aria-describedby="hero-alter-ego"
                   [(ngModel)]="hero.alterEgo">
        </div>
        <br>
        <button (click)="goBack()">{{ 'back' | translate }}</button>
        <button (click)="saveHero()">{{ 'saveHero' | translate }}</button>
    </div>
    <ng-template #noHero>
        <p>{{'noHero' | translate}}</p>
    </ng-template>
</div>