@import 'functions';
@import 'colors';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'variables';

.exchange-icon {
  transform: rotate(90deg);
}

.exchange-form-container {
  @include media-breakpoint-up(md) {
    max-width: 75%;
  }
}

.dish-container {
  position: relative;
}

.load-dish-icon {
  position: absolute;
  right: 12px;
  bottom: 12px;
  font-size: 1.2rem;
  color: $primary;
  cursor: pointer;
}

.form-label {
  font-size: 0.95rem;
}

// TODO: refactor this category styles
/* stylelint-disable */
.category-MEAT {
  background-color: rgb(238, 85, 51, 0.3);
  border-radius: rem(5px);
}

.category-VEGETABLE {
  background-color: rgb(34, 170, 0, 0.3);
  border-radius: rem(5px);
}

.category-FISH {
  background-color: rgb(0, 127, 162, 0.3);
  border-radius: rem(5px);
}

.category-LEGUME {
  background-color: rgb(156, 148, 99, 0.3);
  border-radius: rem(5px);
}

.category-SOUP {
  background-color: rgb(225, 119, 1, 0.3);
  border-radius: rem(5px);
}
.category-PASTA {
  background-color: rgb(226, 195, 146, 0.3);
  border-radius: rem(5px);
}
.category-EGG {
  background-color: rgb(221, 204, 34, 0.3);
  border-radius: rem(5px);
}
/* stylelint-enable */
