<div class="search__container">
  <sl-input
    class="input--primary search__input"
    clearable
    size="medium"
    appSlInputIconFocus
    appTrim
    [placeholder]="title()"
    [class.has-action]="searchState().showButton"
    [value]="termValue()"
    (sl-input)="assignInputValue($event)"
    (keydown.enter)="searchPokemon()"
  >
    <sl-icon name="search" slot="prefix" />
  </sl-input>

  @if (searchState().showButton) {
    <sl-button class="button--image" slot="trigger" (click)="searchPokemon()">
      <img
        class="search__loading-image"
        alt="pokeball"
        slot="suffix"
        ngSrc="angularexampleapp/assets/images/pokeball.png"
        i18n-alt
        width="100"
        height="100"
        [class.loading__image]="searchState().isLoading"
      />
    </sl-button>
  }
</div>
