@import 'functions';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'variables';

:host {
  h1 {
    font-size: 1.7rem;
  }

  .register-page__container {
    @include media-breakpoint-up(sm) {
      @media (height >= 890px) {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
      }
    }
  }

  .register-page__card {
    max-width: $cards-max-width;
  }

  .register-terms__label {
    font-size: $small-font-size;
  }

  .card__header {
    right: 0;
  }

  @media (width <= 327px) {
    .register__login-link {
      display: block;
    }
  }
}
