<h2>My Heroes</h2>
<br>
<toh-hero-form [heroes]="heroes"
               [selectedHero]="selectedHero">
</toh-hero-form>
<br>
<ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
        [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span>
        <span>{{hero.name}} | {{hero.alterEgo}} | {{hero.power}}</span>
        <button class="remove"
                (click)="remove(hero); $event.stopPropagation()">x
        </button>
    </li>
</ul>
<div *ngIf="selectedHero">
    <h2>
        {{selectedHero.name | uppercase}} is my hero
    </h2>
    <p tohHighlight>Test</p>
    <button (click)="gotoDetail()">View Details</button>
</div>
