:root {
  --border-radius-xs: 0.125rem;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.375rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.625rem;
  --border-radius-xxl: 0.75rem;
  --border-radius-max: 2.75rem;
}
