@use 'primitive-colors';

/*
   ============================================================
   ⚠️ Themes File ⚠️
   ============================================================
   This file contains the variables for the application's color themes.
   These variables are intended to be used all across the app. Developers
   must use this ones, not the primitive ones.

   Keeping the theme variables scoped to their intended purpose ensures consistency
   and maintainability of the application's design system.
   ============================================================
*/
@mixin dark-definitions() {
  // Contrasts
  --full-contrast: var(--primitive-full-white);
  --primary-contrast: var(--primitive-gray-50);
  --secondary-contrast: var(--primitive-gray-300);
  --tertiary-contrast: var(--primitive-gray-300);
  --quaternary-contrast: var(--primitive-gray-400);
  --quinary-contrast: var(--primitive-gray-500);
  --senary-contrast: var(--primitive-gray-700);
  --septenary-contrast: var(--primitive-gray-800);
  --octonary-contrast: var(--primitive-gray-900);

  // DO NOT use grays anymore, use contrast variables

  // Brand
  --brand-color-primary: var(--primitive-hot-red-mixed);
  --brand-color-secondary: var(--primitive-bright-blue-mixed);
  --brand-color-tertiary: var(--primitive-vivid-pink-mixed);

  // General
  --page-color: var(--full-contrast);
  --page-background: var(--primitive-gray-1000);

  // Texts
  --text-color-primary: var(--primary-contrast);
  --text-color-primary-hover: var(--primary-contrast);
  --text-color-secondary: var(--quaternary-contrast);
  --text-color-secondary-hover: var(--primary-contrast);

  // Status
  --status-color-success: var(--primitive-vitalize-green);
  --status-color-error: var(--primitive-hot-red);

  // Links
  --links-color: var(--brand-color-secondary);
  --links-color-hover: var(--brand-color-tertiary);
  --links-color-active: var(--brand-color-primary);

  // Buttons
  --buttons-background: color-mix(in srgb, var(--brand-color-primary) 10%, white 2%);
  --buttons-background-hover: color-mix(in srgb, var(--brand-color-primary) 20%, white 10%);
  --buttons-color: color-mix(in srgb, var(--brand-color-primary) 60%, white 70%);

  // Icons
  --icons-color: var(--quaternary-contrast);
  --icons-color-hover: var(--full-contrast);

  // Inputs
  --inputs-background-color: var(--page-background);
  --inputs-background-color-hover: var(--page-background);
  --inputs-background-color-focus: var(--page-background);
  --inputs-border-color: var(--senary-contrast);
  --inputs-border-color-hover: var(--primary-contrast);
  --inputs-border-color-focus: var(--brand-color-tertiary);
  --inputs-color: var(--tertiary-contrast);
  --inputs-color-hover: var(--primary-contrast);
  --inputs-color-focus: var(--primary-contrast);
  --inputs-placeholder-color: var(--quaternary-contrast);
  --inputs-help-text-color: var(--quinary-contrast);
  --inputs-focus-ring-color: none;

  // Checkboxes
  --checkboxes-color: var(--tertiary-contrast);
  --checkboxes-control-background: var(--pink-to-purple-horizontal-gradient);
  --checkboxes-checked-icon-color: var(--octonary-contrast);

  // Panels
  --panels-background: var(--octonary-contrast);
  --panels-color: var(--full-contrast);

  // Options
  --options-background: color-mix(in srgb, var(--brand-color-primary) 10%, white 2%);
  --options-background-hover: color-mix(in srgb, var(--brand-color-primary) 20%, white 10%);
  --options-color: color-mix(in srgb, var(--brand-color-primary) 60%, white 70%);

  // Dropdowns
  --dropdowns-background: var(--octonary-contrast);
  --dropdown-items-background-hover: color-mix(in srgb, var(--brand-color-primary) 20%, white 10%);
  --dropdown-items-color: color-mix(in srgb, var(--brand-color-primary) 60%, white 70%);

  // Cards
  --card-background-hover: var(--primitive-subtle-purple);
  --card-link-background-hover: var(
    --pink-to-highlight-to-purple-to-blue-horizontal-mixed-gradient
  );
}

@mixin light-definitions() {
  // Contrast
  --full-contrast: var(--primitive-full-black);
  --primary-contrast: var(--primitive-gray-900);
  --secondary-contrast: var(--primitive-gray-800);
  --tertiary-contrast: var(--primitive-gray-700);
  --quaternary-contrast: var(--primitive-gray-500);
  --quinary-contrast: var(--primitive-gray-300);
  --senary-contrast: var(--primitive-gray-200);
  --septenary-contrast: var(--primitive-gray-100);
  --octonary-contrast: var(--primitive-gray-50);

  // DO NOT use grays anymore, use contrast variables

  // Brand
  --brand-color-primary: var(--primitive-bright-blue);
  --brand-color-secondary: var(--primitive-hot-red);
  --brand-color-tertiary: var(--primitive-vivid-pink);

  // General
  --page-color: var(--primary-contrast);
  --page-background: var(--primitive-full-white);

  // Texts
  --text-color-primary: var(--primary-contrast);
  --text-color-primary-hover: var(--primary-contrast);
  --text-color-secondary: var(--quaternary-contrast);
  --text-color-secondary-hover: var(--primary-contrast);

  // Status
  --status-color-success: var(--primitive-vitalize-green);
  --status-color-error: var(--primitive-hot-red);

  // Links
  --links-color: var(--brand-color-primary);
  --links-color-hover: var(--brand-color-tertiary);
  --links-color-active: var(--brand-color-secondary);

  // Buttons
  --buttons-background: color-mix(in srgb, var(--primitive-indigo-blue) 10%, white 2%);
  --buttons-background-hover: color-mix(in srgb, var(--primitive-indigo-blue) 20%, white 10%);
  --buttons-color: var(--primitive-indigo-blue);

  // Icons
  --icons-color: var(--quaternary-contrast);
  --icons-color-hover: var(--full-contrast);

  // Inputs
  --inputs-background-color: var(--page-background);
  --inputs-background-color-hover: var(--page-background);
  --inputs-background-color-focus: var(--page-background);
  --inputs-border-color: var(--senary-contrast);
  --inputs-border-color-hover: var(--primary-contrast);
  --inputs-border-color-focus: var(--brand-color-tertiary);
  --inputs-color: var(--tertiary-contrast);
  --inputs-color-hover: var(--primary-contrast);
  --inputs-color-focus: var(--primary-contrast);
  --inputs-placeholder-color: var(--tertiary-contrast);
  --inputs-help-text-color: var(--quinary-contrast);
  --inputs-focus-ring-color: none;

  // Checkboxes
  --checkboxes-color: var(--tertiary-contrast);
  --checkboxes-control-background: var(--pink-to-purple-horizontal-gradient);
  --checkboxes-checked-icon-color: var(--primary-contrast);

  // Panels
  --panels-background: var(--octonary-contrast);
  --panels-color: var(--full-contrast);

  // Options
  --options-background: color-mix(in srgb, var(--brand-color-primary) 10%, white 2%);
  --options-background-hover: color-mix(in srgb, var(--brand-color-primary) 20%, white 10%);
  --options-color: color-mix(in srgb, var(--brand-color-primary) 90%, white 70%);

  // Dropdowns
  --dropdowns-background: var(--octonary-contrast);
  --dropdown-items-background-hover: color-mix(in srgb, var(--brand-color-primary) 20%, white 10%);
  --dropdown-items-color: color-mix(in srgb, var(--brand-color-primary) 60%, white 70%);

  // Cards
  --card-background-hover: var(--primitive-cotton-ball);
  --card-link-background-hover: var(--pink-to-highlight-to-purple-to-blue-horizontal-gradient);
}
