:root {
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-xxl: 20px;
  --spacing-3xl: 24px;
  --spacing-4xl: 32px;
  --spacing-5xl: 40px;
  --spacing-6xl: 48px;
  --spacing-r-xs: 0.125rem;
  --spacing-r-sm: 0.375rem;
  --spacing-r-md: 0.5rem;
  --spacing-r-lg: 0.75rem;
  --spacing-r-xl: 1rem;
  --spacing-r-xxl: 1.25rem;
  --spacing-r-3xl: 1.5rem;
  --spacing-r-4xl: 2rem;
  --spacing-r-5xl: 2.5rem;
  --spacing-r-6xl: 3rem;
  --spacing-r-7xl: 3.5rem;
  --spacing-r-8xl: 4rem;
  --spacing-r-9xl: 4.5rem;
  --spacing-r-10xl: 5rem;
  --spacing-r-11xl: 5.5rem;
  --spacing-r-12xl: 6rem;
}
