@mixin typography() {
  :root {
    --fallback-font-stack: ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
      roboto, 'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --code-font: 'DM Mono', monospace;
    --inter-font: 'Inter', var(--fallback-font-stack);
    --inter-tight-font: 'Inter Tight', var(--fallback-font-stack);
    --selection-background: var(--vivid-pink);
    --selection-color: var(--vivid-pink);

    // TODO: review the use of this variables
    // Font weight
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    // Font style
    --font-style-normal: normal;

    // Font size
    --font-size-xs: 0.8rem;
    --font-size-sm: 0.9rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 4rem;

    // Line height
    --line-height-xs: 0.9rem;
    --line-height-sm: 1rem;
    --line-height-md: 1.25rem;
    --line-height-lg: 1.5rem;
    --line-height-xl: 2rem;
    --line-height-xxl: 3.5rem;

    // Fonts
    // Inter
    --font-inter: 'SantanderMicroText', sans-serif, arial, helvetica;
    --regular-xs-inter-font: var(--font-style-normal) var(--font-weight-regular) var(--font-size-xs)
      var(--line-height-sm) var(--font-inter);
  }

  :nth-child(6n + 1) {
    --selection-color: var(--vivid-pink);
  }

  :nth-child(6n + 2) {
    --selection-background: var(--hot-pink);
    --selection-color: var(--hot-pink);
  }

  :nth-child(6n + 3) {
    --selection-background: var(--electric-violet);
    --selection-color: var(--electric-violet);
  }

  :nth-child(6n + 4) {
    --selection-background: var(--french-violet);
    --selection-color: var(--french-violet);
  }

  :nth-child(6n + 5) {
    --selection-background: var(--indigo-blue);
    --selection-color: var(--indigo-blue);
  }

  :nth-child(6n + 6) {
    --selection-background: var(--bright-blue);
    --selection-color: var(--bright-blue);
  }

  ::selection {
    color: color-mix(in srgb, var(--selection-color) 40%, var(--primary-contrast));

    // Added fallback color due to browser idiosyncrasies with color-mix and ::selection
    background: color-mix(in srgb, var(--selection-background) 10%, var(--octonary-contrast));
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--inter-tight-font), serif;
    font-weight: 500;
    text-wrap: balance;
  }

  p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: -0.0088rem;
  }

  p ~ ul,
  p ~ ol {
    margin-block-start: 0;
  }

  ul,
  ol {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: -0.01rem;
  }

  a {
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  p > a,
  td > a,
  div > a,
  code > a,
  li a {
    color: var(--bright-blue);

    &:hover {
      color: var(--vivid-pink);
    }

    &:active {
      color: var(--hot-red);
    }
  }

  hr {
    width: 100%;
    margin-block: 1rem;
    border: 0;
    border-color: var(--senary-contrast);
    border-style: solid;
    border-block-start-width: 1px;
    transition: border-color 0.3s ease;
  }
}
