$blue-primary: #0d47a1;
$blue-secondary: #1976d2;
$blue-tertiary: #0c47a1;
$orange-secondary: #ef6c1a;
$white: #fff;
$gray-light-100: #fdfdfd;
$gray-light-200: #fbfbfb;
$gray-light-300: #fafafc;
$gray-light-400: #e1e1e2;
$gray-light-500: #f5f5f9;
$gray-light-800: #f5f5f9;
$gray-light-900: #cbcbcb;
$black-light-100: #303030;
$black-light-300: #191919;
$black-dark-100: #030303;
$red-light-400: #cd4141;
$blue-light-400: #2f75d0;
$blue-light-600: #035fcc;
