@import '../abstracts/functions';
@import 'colors';

// Custom vars
$section-box-shadow: 0 0 0.375rem 0.25rem rgb(161 172 184 / 15%);

// Toggle global options
$enable-shadows: true;
$enable-negative-margins: true;
$enable-important-utilities: false;

// General
$body-bg: $gray-light-100;
$body-color: $black-light-100;
$paragraph-margin-bottom: 0;

// Font families
$font-family-base: 'Montserrat', sans-serif;
$headings-font-family: 'Unbounded', cursive;

// Colors
$primary: $blue-primary;
$secondary: $blue-secondary;
$success: $primary;
$info: $blue-light-400;
$warning: $orange-secondary;
$danger: $red-light-400;
//$light: $to-be-defined;
$dark: $black-light-300;
$outline: $blue-light-600;

// Z-index
$z-index-alert: 9900;
$z-index-sidebar: 100;
$z-index-header-footer: 1;

// Links
$link-decoration: none;

// Buttons
$btn-border-radius: rem(2px);
$btn-box-shadow: rgb(0 0 0 / 10%) 0 rem(2px) rem(4px) 0;
$btn-padding-y: rem(10px);
$btn-padding-x: rem(25px);

// Cards
$cards-max-width: rem(520px);
$card-box-shadow: rgb(0 0 0 / 15%) 0 rem(3px) rem(3px) 0;

// Separators
$hr-margin-y: 1.5rem;

// Alerts
$alert-border-radius: rem(10px) 0 rem(10px) rem(10px);
$alert-padding-y: 0.7rem;
$alert-dismissible-padding-r: 1rem;
$alert-bg-scale: null;
$alert-border-scale: null;
$alert-color-scale: null;

// Forms
$form-feedback-icon-valid-color: none;
$form-feedback-icon-invalid-color: $danger;
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='12' height='12' fill='#{$form-feedback-icon-invalid-color}' stroke='#{$form-feedback-icon-invalid-color}'><path d='M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM232 152C232 138.8 242.8 128 256 128s24 10.75 24 24v128c0 13.25-10.75 24-24 24S232 293.3 232 280V152zM256 400c-17.36 0-31.44-14.08-31.44-31.44c0-17.36 14.07-31.44 31.44-31.44s31.44 14.08 31.44 31.44C287.4 385.9 273.4 400 256 400z'/></svg>");

// Checkboxes
$form-check-input-width: 1.2em;
$form-check-label-cursor: pointer;
$form-check-transition: 0.4s;
$form-check-input-border-radius: 50%;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='white'><path d='M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z'/></svg>");
$form-check-input-checked-bg-color: $primary;

// Dropdowns
$dropdown-box-shadow: $section-box-shadow;
$dropdown-border-radius: rem(4px);
$dropdown-min-width: 6rem;
$dropdown-spacer: -0.2rem;

// Accordions
$accordion-button-color: $black-light-300;
$accordion-button-bg: $white;

// Modals
$modal-content-border-radius: rem(4px);
$modal-backdrop-bg: $black-light-100;
$modal-backdrop-opacity: 0.3;
$modal-content-border-color: none;
$modal-footer-border-width: 0;

// Tooltips
$tooltip-color: $primary;
$tooltip-bg: $white;
$tooltip-border-radius: rem(4px);
$tooltip-font-size: 1rem;
$tooltip-padding-y: 0.5rem;
$tooltip-padding-x: 1rem;
$tooltip-opacity: 1;
